html,body{
    height:100%;
}
.page{
    height:100%;
}
.pure-form{
    margin:20px
}
.divider{
    width:2%;
    height:100%;
    float:left;
    background-color:black;
}
.panel{
    width:49%;
    height:100%;
    float:left;
}
.panel .pure-menu, .panel .pure-menu-heading{
    background-color:rgba(0,0,0,0);
    color:#0c6;
}
.panelOK{
    background-color:#cf9;
    color:#030;
}
.panelOver{
    background-color:#f00;
    color:#fff;
}
.panelUnder{
    background-color:#00f;
    color:#fff;
}
.billb{
    position:absolute;
    height:80%;
    width:49%;
    line-height:700%;
    text-align:center;
	vertical-align:middle;
	font-size:700%;
	font-weight: bolder;
}
canvas.chart{
    position:absolute;
    bottom:0;
}
